# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore

node_modules

# Operator tooling, not function code. The search-token backfill is run by hand
# from a workstation (see cmd/backfill_search_tokens); uploading it with all 18
# function deploys is dead weight in every artifact.
cmd/backfill_search_tokens/

#!include:.gitignore
